@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

* {
  margin: 5px 10px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(232, 232, 15);
}

nav {
  font-weight: 600;
  font-size: 15px;
  width: 100%;
  height: auto;
  padding: 10px 10px;
  background-color: aliceblue;
  box-shadow: 0 0 5px 5px 10px;
  box-sizing: border-box;
  border-radius: 6px;

  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
}

.milestone-container {
  display: flex;
  gap: 10px;
  max-width: 1080px;
  margin: 20px auto;
  padding: 0 20px;
}

.milestone-card {
  display: inline-block;
  background-color: rgb(28, 181, 205);
  box-shadow: 5pc 2pc 10px rgba(226, 40, 211, 0.921);
  width: 500px;
  height: auto;
  border-radius: 9px;
  padding: 10px;
  margin: 30px 60px;
}

a:hover {
  color: brown;
}

ol {
  font-weight: 100;
}

@media (max-width: 764px) {
  .milestone-container {
    flex-direction: column;
    gap: 20px;
  }
  .milestone-card {
    width: 100%;
    box-sizing: border-box;
  }
}
